In [ ]:
import pandas as pd
d=pd.DataFrame({'a':['2014-10-11', '2014-10-12', '2014-10-16']})
e=pd.DataFrame({'a':['2014-10-12','2014-10-13','2014-10-15' ]})
d['b']=pd.to_datetime(d.a)
e['b']=pd.to_datetime(e.a)
find=d['b'].unique()

pd.cut(e['b'].values,bins=find,labels=pd.to_datetime(find[:-1]))

In [2]:
a=('hello')
b=list(a)
print b

['h', 'e', 'l', 'l', 'o']

In [ ]:
c:\users\sean violante\documents\projects\lendico\projects\returns\src\returns.py(75)<lambda>()
     74         y[y < min_date] = min_date
---> 75     return y.map(lambda x: '{}_Q{}'.format(x.year, ((x.month - 1) // 3) + 1))
     76 

ipdb> type(y)
*** NameError: name 'y' is not defined
ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\series.py(2009)map()
   2008         else:
-> 2009             mapped = map_f(values, arg)
   2010             return self._constructor(mapped,

ipdb> u
> c:\users\sean violante\documents\projects\lendico\projects\returns\src\returns.py(75)calc_quarter()
     74         y[y < min_date] = min_date
---> 75     return y.map(lambda x: '{}_Q{}'.format(x.year, ((x.month - 1) // 3) + 1))
     76 

ipdb> type(y)
<class 'pandas.core.series.Series'>
ipdb> y.head()
0    1389312000000000000
1    1389571200000000000
2    1389312000000000000
3    1389312000000000000
4    1389571200000000000
Name: payout_date, dtype: object

ipdb>